<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Upload an Image for Prediction</h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <label for="file" id="fileLabel">
            <div id="imagePreview">Click here or drag an image to upload</div>
            <input type="file" name="file" id="file" accept="image/*" required onchange="displayImage(this)">
        </label>
        <div>
            <input type="button" value="Predict" id="submit">
            <input type="button" value="Delete" id="delete">
        </div>
    </form>    
    <div id="predictionResult"></div>
    
    <script>
        function displayImage(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').html('<img src="' + e.target.result + '" alt="Image preview"/>');
                };
                reader.readAsDataURL(input.files[0]);
            }
        }


        $(document).ready(function () {
            $("#submit").click(function () {
                var formData = new FormData($("#uploadForm")[0]);
                $.ajax({
                    url: '/predict',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response){
                        $("#predictionResult").html('Prediction: ' + response.prediction);
                    }
                });
            });
        
            $("#delete").click(function () {
                $('#imagePreview').empty(); 
                $('#file').val(''); 
                $("#imagePreview").text("Click here or drag an image to upload");
                $('#predictionResult').empty();
            });
        });

    </script>
</body>
</html>
